.profile-header-container {
  width: 600px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: lightblue; */

  position: fixed;
  top: 0;
  padding: 6px 10px;
  padding-bottom: 3px;

  display: flex;
  align-items: center;
}

.profile-header-arrow {
  width: 40px;
  height: 40px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.profile-header-arrow:hover {
  background-color: #131313;
}

.profile-header-arrow > img {
  width: 45%;
}

.profile-header-details {
   flex: 1;
   height: 100%;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 26px;

   cursor: pointer;
}

.profile-header-name {
  color: #E7E9EA;
  font-weight: 700;
  font-size: 20px;
}

.profile-header-tab-desc {
  color: #71767B;
  font-size: 12px;
  margin-top: 5px;
}