.tweet-post-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.tweet-audience,
.tweet-reply {
  display: flex;
  align-items: center;

  color: #1D9BF0;
  font-size: 13.5px;
  font-weight: 700;
}

.tweet-audience {
  padding: 3px 12px;
  margin-top: 10px;

  border: 1px solid #536471;
  border-radius: 20px;
  
  cursor: pointer;
}

.tweet-audience > img {
  width: 14px;
  margin-left: 6px;
}

.tweet-audience:hover {
  background-color: #031018;
}

.tweet-post-container > textarea {
  overflow: auto !important;
  outline: none !important;
  border: none !important;
  
  width: 100%;
  resize: none;
  background-color: transparent;
  color: #E7E9EA;
  font-size: 20px;

  padding-top: 23px;
  padding-right: 20px;
}

.tweet-post-container > textarea:focus {
  outline: none !important;
  border: none !important;
}

.tweet-post-container > textarea::placeholder {
  font-size: 20px;
  color: #71767B;
}

.tweet-reply {
  width: 97%;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #2F3336;
  
  cursor: pointer;
}

.tweet-reply > img{
  width: 15px;
  margin-left: 8px;
  margin-right: 5px;
  /* background-color: red; */
}

.tweet-post-setting {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
}

.tweet-post-setting > img {
  margin-right: 5px;
  padding: 2px;
  border-radius: 20px;
  width: 34px;
  cursor: pointer;
}

.tweet-post-setting > img:hover {
  background-color: #141515;
}

.tweet-post-setting-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  align-items: center;
  position: relative;
}

.tweet-post-setting-right .tweet-button {
  position: absolute;
  width: fit-content;
  padding: 8px 16px;
  right: 14px;
}

.tweet-post-progress {
  width: 20px;
  height: 20px;
  float: right;
}