.modal-profile-photo-container {
  background-color: rgba(25, 34, 38, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-profile-photo > img {
  width: 370px;
  border-radius: 200px;
}

