.trending-item {
  padding: 10px 15px;
  position: relative;

  cursor: pointer;
  transition: background-color 0.15s;
}

.trending-item:hover {
  background-color: #1D1F23;
}

.trending-location, 
.trending-tweet-count {
  color: #71767B;
  font-size: 12px;
}

.trending-word {
  font-weight: bold;
  font-size: 14px;
  margin-block: 3px;
}

