.tweet-view-container {
  flex: 1;
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: baseline;
  padding-right: 20px;

  position: relative;
}

.tweet-view-more-container {
  position: absolute;
  top: -10px;
  right: 0;
}

.tweet-quote-container {
  margin-top: 15px;
  width: 100%;

  border: var(--borderStyles);
  border-radius: 15px;
  padding-inline: 12px;
}

.tweet-view-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5px;
}

.tweet-view-user {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tweet-view-user > img {
  width: 20px;
  margin-right: 5px;
  vertical-align:bottom; 
  border-radius: 10px;
}

.tweet-view-user .full-name {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  margin-right: 8px;
}

.tweet-view-user .username {
  font-size: 14px;
  color: var(--gray);
  cursor: pointer;
  display: flex;
}

.tweet-view-user .username:hover {
  /* text-decoration: underline; */
}

.tweet-view-text {
  color: var(--white);
  white-space: pre-line;
  font-size: 14.5px;
}

.tweet-view-statistic {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 50px;
}

.tweet-view-statistic .reply-icon,
.tweet-view-statistic .retweet-icon,
.tweet-view-statistic .like-icon,
.tweet-view-statistic .share-icon {
  fill: var(--gray);
  width: 18px;
}

.tweet-view-statistic-icon-container {
  color: var(--gray);
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reply-icon-container,
.retweet-icon-container,
.like-icon-container,
.share-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 2px;
  border-radius: 18px;
}

.tweet-view-statistic-icon-container:hover .statistic-icon-text {
  opacity: 1;
  z-index: 100;
}

.statistic-icon-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 3px;
  color: var(--white);
  background-color: #4f6070da;
  border-radius: 2px;
  
  bottom: -17px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.tweet-view-statistic-icon-container:hover .reply-icon-container {
  background-color: #0A171F;
}

.tweet-view-statistic-icon-container:hover .reply-icon {
  fill: var(--blue);
}

.tweet-view-statistic-icon-container:hover .reply-icon-text {
  color: var(--blue);
}

.tweet-view-statistic-icon-container:hover .retweet-icon-container {
  background-color: #071A14;
}

.tweet-view-statistic-icon-container:hover .retweet-icon {
  fill: var(--green);
}

.tweet-view-statistic-icon-container:hover .retweet-icon-text {
  color: var(--green);
}

.tweet-view-statistic-icon-container:hover .like-icon-container {
  background-color: #200914;
}

.tweet-view-statistic-icon-container:hover .like-icon {
  fill: var(--pink);
}

.tweet-view-statistic-icon-container:hover .like-icon-text {
  color: var(--pink);
}

.tweet-view-statistic-icon-container:hover .share-icon-container {
  background-color: #0A171F;
}

.tweet-view-statistic-icon-container:hover .share-icon {
  fill: var(--blue);
}

.tweet-view-one-image {
  max-width: 100%;
  margin-block: 10px;
  border-radius: 10px;

  cursor: pointer;
}

.tweet-view-multi-image-container {
  width: 100%;
  height: 300px;
  margin-block: 10px;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: red; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  color: var(--white);

  cursor: default;
}

.tweet-view-multi-image-two-row {
  grid-template-rows: repeat(2, 150px);
}

.tweet-view-right-column{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  gap: 2px;
}

.tweet-view-two-image,
.tweet-view-four-image {
  width: 100%;
  object-fit: cover;

  cursor: pointer;
}

.tweet-view-four-image {
  height: 100%;
}