.sidebar-nav-item {
  display: flex;
  align-items: center;
  width: fit-content;
  
  padding: 10px 15px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 50px;

  position: relative;
  cursor: pointer;
  transition: background-color 0.15s;
}

.sidebar-nav-item:hover {
  background-color: rgba(71, 71, 71, 0.344);
}

.sidebar-nav-item-icon {
  position: relative;
  margin-right: 20px;
}

.sidebar-nav-item-icon > img {
  width: 26px;
  fill: black;
}

.sidebar-nav-item-counter {
  position: absolute;
  background-color: #1DA1F2;
  color: white;
  font-size: 11px;
  font-weight: 500;

  width: 20px;
  height: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  top: -5px;
  right: -5px;
}

.sidebar-nav-item-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
}