html, body, #root {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
}

* {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

a {
  text-decoration: none;
}

p, h2 {
  margin: 0;
  padding: 0;
}

:root {
  --white: #E7E9EA;
  --gray: #71767B;
  --blue: #1D9BF0;
  --green: #00BA7C;
  --pink: #F91880;
}